on:
  push:
    branches:
      - main
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      major: ${{ steps.release.outputs.major }}
      minor: ${{ steps.release.outputs.minor }}
      patch: ${{ steps.release.outputs.patch }}
      upload_url: ${{ steps.release.outputs.upload_url }}
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          draft: true
          release-type: simple
          extra-files: pom.xml

  build:
    needs: [release-please]
    runs-on: ubuntu-latest
    env:
      MAJOR: ${{ needs.release-please.outputs.major }}
      MINOR: ${{ needs.release-please.outputs.minor }}
      PATCH: ${{ needs.release-please.outputs.patch }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 11

      - run: mvn install -ntp -DskipTests=true
      - uses: actions/upload-artifact@v3
        with:
          path: target/*.jar
          name: spring-boot-application.jar

  upload-artifact-to-release:
    needs: [build, release-please]
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: spring-boot-application.jar
      
      - name: Upload artifact to release
        run: |
          curl \
            -u $GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            --data-binary "@/path/to/filename" \
            ${{ needs.release-please.outputs.upload_url }}
